/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* #ed1452 */

main,
input,
textarea{
	font-family: 'Source Sans Pro', sans-serif ;
	font-size: 12px;
}

header{
	height: 100vh;
	background-image: url('../img/fond3.png');
	background-size: cover;
	min-height: 450px;
	position: relative;
}

h1, h2, h3{
	font-family: 'Poiret One', cursive;
}

h1, h2{
	color: white;
	font-size: 24px;
	text-align: center;
	margin: 0;
}

h1{
	margin-top: 20vh;
	font-size: 35px;
}

nav a{
	color: #808080;
	transition: all ease .8s;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

li:active{
	background: lightgrey;
}

.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
 .margin-right{
	 margin-right: auto;
 }

.typed-cursor {
  opacity: 1;
  animation: blink .7s infinite;
	color: #ed1452;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateright{
	from{right:-70%;opacity:0;}
	to{right:0;opacity:1;}
}

@-webkit-keyframes animateright{
	from{right:-70%;opacity:0;}
	to{right:0;opacity:1;}
}

.animate-right{
	position: absolute;
	display: none;
	animation: animateright .4s;
	background-color: white;
	margin-top: 0;
	width: 58%;
	height: 100%;
	right: 0;
	padding: 0px 25px;
	border-left: 1px solid lightgrey;
	/* box-shadow: 0 0 20px grey; */
	z-index: 1;
}

.animate-right li{
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
	padding: 20px 0;
}


@keyframes animategrey{
	from{background: transparent;}
	to{background: rgba(0,0,0,.08);}
}

@-webkit-keyframes animategrey{
	from{background: transparent;}
	to{background: rgba(0,0,0,.08);}
}

.div-close{
	background: rgba(0,0,0,.08);
	animation: animategrey .4s;
	-webkit-animation: animategrey .4s;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
}


*{
	/* border: 1px solid black; */
}

.logo-small{
	width: 60px;
	min-width: 60px;
	position: absolute;
	left: 15px;
	top: 10px;
}

.nav-small{
	height: 80px;
	max-height: 80px;
}

.nav-medium{
	height:120px;
}

.nav-medium ul{
	margin-right: 50px;
}

.nav-medium ul a{
	margin: auto;
}

.logo-medium{
	width: 100px;
	margin: auto auto auto 50px;
	/* position: absolute;
	left: 25px;
	top: 10px; */

}

.button-open{
	color: grey;
	font-size: 40px;
	width: 80px;
	border: none;
	background-color: transparent;
	position: absolute;
	right: 10px;
	top: 15px;
}


.div-animate{
	width: 100%;
}

.li-close, .asterisque{
	color: #ed1452;
}

.li-close span{
	font-size: 30px;
	position: relative;
	top: 4px;
	left: 10px;
}

@keyframes arrow {
	0% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0;
  }
}

.div-fleche{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.div-fleche img{
	display: block;
	width: 70px;
	margin: auto;
}

.div-fleche img:hover{
	position: relative;
	animation: arrow .7s infinite;
}

h3{
	border-bottom: 1px solid lightgrey;
	color: #ed1452;
	text-align: center;
	width: 90%;
	margin: 0 auto 30px;
}

h3 span{
	position: relative;
	background-color: white;
	top: 12px;
	padding: 0 15px;
	font-size: 18px;
}

h4{
	font-size: 15px;
	margin: 0;
}

hr{
	width: 50%;
	margin: 15px auto 40px;
}

hr:last-child{
	display: none;
}

.portfolio-content{
	flex-direction: column;
	padding: 20px 0 30px;
}

.portfolio-img img{
	width: 250px;
	display: block;
	margin: auto;
}

.portfolio-details{
	text-align: center;
	padding: 20px;
}

.portfolio-details p{
	max-width: 450px;
	margin: 5px auto 15px;
}

.portfolio-details span{
	background: #ed1452;
	color: white;
	padding: 5px;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 5px;
}

.link-page{
	margin-top: 35px;
}

.link-page a{
	margin: 0 10px!important;
}

.contact-form form{
	flex-direction: column;
}

.contact-form input, .contact-form textarea{
	border: 1px solid lightgrey;
	border-radius: 3px;
	margin: 5px 0 10px;
	padding-left: 10px;
	font-size: 12px;
}

textarea{
	margin: 5px 0 0!important;
	transition: all ease .3s;
}

.contact-content{
	flex-direction: column;
}

.contact-form{
	width: 85%;
	max-width: 330px;
	margin: 30px auto;
}

.contact-form input{
	height: 40px;
}

.contact-form div{
	flex-direction: column;
}

.contact-form input::placeholder, textarea::placeholder{
	font-style: italic;
	color: grey;
}

.contact-form textarea{
	padding: 15px 0 15px 10px;
	min-height: 20px;
}

.contact-form input[type=submit]{
	background: #ed1452;
	color: #FFF;
	border: 1px solid #ed1452;
	height: 50px;
	font-size: 15px;
}

.contact-info img{
	width: 230px;
	display: block;
	margin: auto;
}

.contact-info p a,
.link-page a{
	border-radius: 3px;
	border: 2px solid #ed1452;
	padding: 7px 15px;
	margin: 20px 0;
	color: #525252;
	transition: all ease .3s;
}

.contact-info p{
	text-align: center;
	margin: 25px 0;
}

.contact-info .social-link .fa-2x{
	font-size: 30px;
	color: #ed1452;
}

footer{
	height: 100px;
	background-image: url('../img/fond3.png');
	color: grey;
	position: relative;
	padding-top: 60px;
	padding-bottom: 20px;
}

footer p{
	width: 100%;
	text-align: center;
}

.social-link .fa-2x{
	color: grey;
	margin: 0 5px!important;
	transition: color ease .3s;
}

.social-link{
	/* border: 1px solid white; */
	text-align: center;
}

.hearth{
	color: #ed1452;
	position: relative;
	top: 14px;
	margin: 0 5px;
}





@media (max-width: 767px) {
	.hide-small{
		display: none;
	}
}



@media (min-width: 768px) {

	main, input, textarea {
    font-size: 15px;
	}

	.nav-medium li{
		font-size: 18px;
	}

	.nav-medium li a{
		padding: 20px 30px;
	}

	.nav-medium li:active{
		background: transparent;
	}

	.hide-medium{
		display: none;
	}

	header{
		min-height: 550px;
		margin-bottom: 40px;
	}

	h1{
		margin-top: 25vh;
		font-size: 50px;
	}

	h2{
		font-size: 40px;
	}

	h3 span{
		position: relative;
		background-color: white;
		top: 19px;
		padding: 0 15px;
		font-size: 30px;
	}

	.portfolio-content{
		width: 600px;
		margin: 100px auto;
		/* border: 1px solid black; */
		flex-direction: column;
	}

	.portfolio-img img{
		width: 430px;
		display: block;
		margin: auto;
	}

	.portfolio-details h4{
		/* margin-left: 20px; */
	}

	.portfolio-details p{
		margin: 5px auto 20px;
		max-width: 530px;
	}

	.div-fleche img{
		width: 90px;
	}

	.contact-content{
		margin: 50px auto;
	}

	.contact-form{
		width: 500px;
		max-width: 500px;
		margin: 30px auto;
	}

	.contact-form input{
		border: 2px solid lightgrey;
		border-radius: 3px;
		margin: 5px 0 10px;
		padding: 0 10px;
		font-size: 15px;
		transition: all ease .3s;
	}

	.contact-form textarea{
		font-size: 15px;
		border: 2px solid lightgrey
	}

	.contact-form input{
		height: 50px;
	}

	.contact-content .social-link .fa-2x{
		font-size: 35px;
	}

	.social-link .fa-2x:hover{
		color: white;
		transition: color ease .3s;
	}
}


@media (min-width: 992px) {

	header{
		min-height: 650px;
	}

	h1{
		margin-top: 25vh;
		font-size: 70px;
	}

	h2{
		font-size: 60px;
	}

	.div-fleche img{
		width: 100px;
	}

	.main-nav{
		max-width: 1200px;
		margin: auto;
	}

	nav a:hover{
		transition: all ease .8s;
		color: white;
	}

	section{
		width: 85%;
		margin: auto;
	}

	h3 span{
		padding: 0 35px;
	}

	h4{
		margin-top: 0;
	}

	.portfolio-content{
		width: 900px;
		margin: 120px auto;
		/* border: 1px solid black; */
		flex-direction: row;
	}

	.portfolio-details {
    text-align: left;
    padding: 20px;
	}

	.details-tag p{
		margin-top: 20px;
	}

	.details-tag span{
		background: #ed1452;
		color: white;
		padding: 5px 10px;
		border-radius: 3px;
		font-size: 13px;
		margin-right: 5px;
	}

	.link-page a{
		margin: 0 20px 0 0!important;
	}

	.link-page{
		/* text-align: right; */
	}

	.contact-content{
		flex-direction: row;
		max-width: 1050px;
	}

	.contact-form input:focus{
		box-shadow: 0 0 10px lightgrey;
		border: 2px solid white;
		transition: all ease .3s;
	}

	textarea:focus{
		box-shadow: 0 0 10px lightgrey;
		border: 2px solid white;
		transition: all ease .3s;
	}

	.contact-form input[type=submit]{
		cursor: pointer;
		background: #FFF;
		color: #ed1452;
		border: 2px solid #ed1452;
		transition: all ease .3s;
		font-weight: bold;
		width: 120px;
		margin-top: 15px;
	}

	.contact-form input[type=submit]:hover, .contact-info p a:hover, .link-page a:hover{
		border: 2px solid #ed1452;
		background-color: #ed1452;
		color: #FFF;
		box-shadow: 0 0 10px grey;
		transition: all ease .3s;
	}

	.contact-info{
		width: 45%;
		/* border: 1px solid red; */
		margin-top: 30px;
	}

	.contact-info p{
		text-align: center;
		border-radius: 3px;
	}

	.contact-info p a, .link-page a{
		border-radius: 3px;
		border: 2px solid #ed1452;
		padding: 7px 15px;
	}

	.contact-form{
		width: 800px;
max-width: 800px;
		/* background: grey; */
	}

	.contact-form div{
		flex-direction: row;
		justify-content: space-between;
	}

	.contact-form form{
		width: 90%;
		margin: auto;
	}

	.contact-form input.input{
		width: 28%;
		display: inline-block;
	}

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
